<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provinces</title>
</head>
<body>
    <h1>South African Provinces</h1>
    <ul>
        {% for name, info in provinces.items() %}
          <li><strong>{{name}}</strong>capital {{ info.capital}}, {{ info.pop_millions }}M people</li>
          {% endfor %}
    </ul>

    {% if provinces %}
    <ul>
         {% for name, info in provinces.items() %}
         <li>
            <strong>{{ name }}</strong> {{ info.pop_millions }}
            {%if info.pop_millions > 10%}
                <span style="color:red">(major hub!)</span>
            {%endif %}
         </li>
         {% endfor %}
    </ul>
    {% else %}
    <p>No provinces loaded.</p>
    {% endif %}

</body>
</html>