{% extends "base.html %"}

{%block title %}SA Provinces {% endblock %}

{% block content %}
    <h1 class = "text-3xl font-bold mb-4">South African Provinces</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {% for name , info in provinces.items() %}
        <div class="bg-white p-4 rounded shadow">
            <h2 class="text-xl font-bold">{{ name }}</h2>
            <p class ="text-gray-600"><strong>Capital:</strong> {{ info.capital }}</p>
            <p class="text-gray-600"><strong>Population:</strong> {{ info.pop_millions }}M</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
    <ul>
        {% for name, info in provinces.items() %}
          <li><strong>{{name}}</strong>capital {{ info.capital}}, {{ info.pop_millions }}M people</li>
          {% endfor %}
    </ul>

   

</body>
</html>